In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.2.0-cp310-cp310-win_amd64.whl.metadata (2.1 kB)
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp310-abi3-win_amd64.whl (527 kB)
     ---------------------------------------- 0.0/527.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/527.0 kB ? eta -:--:--
      --------------------------------------- 10.2/527.0 kB ? eta -:--:--
     ---- -------------------------------- 61.4/527.0 kB 812.7 kB/s eta 0:00:01
     ------------------ ------------------- 256.0/527.0 kB 2.2 MB/s eta 0:00:01
     -------------------------------------  522.2/527.0 kB 3.3 MB/s eta 0:00:01
     -------------------------------------- 527.0/527.0 kB 3.0 MB/s eta 0:00:00
Downloading mysql_connector_python-8.2.0-cp310-cp310-win_amd64.whl (14.2 MB)
   ---------------------------------------- 0.0/14.2 MB ? eta -:--:--
   - -------------------------------------- 0.4/14.2 MB 12.5 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/14.2 MB 9.5 MB/s eta 0:00:02
   --- ------------------------------------ 1.3/14.2 MB 10.3 MB/s eta 0:00:02
   ----- ---------------------------------- 1.8/14.2 MB 10.4 MB/s eta 0:00:02
   ------- -------------------------------- 2.5/14.2 MB 11.4 MB/s eta 0:00:02
   -------- ------------------------------- 3.1/14.2 MB 11.5 MB/s eta 0:00:01
   ---------- ----------------------------- 3.8/14.2 MB 12.0 MB/s eta 0:00:01
   ----------- ---------------------------- 4.2/14.2 MB 11.7 MB/s eta 0:00:01
   ------------- -------------------------- 5.0/14.2 MB 12.2 MB/s eta 0:00:01
   --------------- ------------------------ 5.4/14.2 MB 11.9 MB/s eta 0:00:01
   ----------------- ---------------------- 6.1/14.2 MB 12.1 MB/s eta 0:00:01
   ------------------ --------------------- 6.5/14.2 MB 11.9 MB/s eta 0:00:01
   ------------------- -------------------- 6.9/14.2 MB 11.6 MB/s eta 0:00:01
   --------------------- ------------------ 7.5/14.2 MB 11.7 MB/s eta 0:00:01
   ---------------------- ----------------- 8.0/14.2 MB 11.7 MB/s eta 0:00:01
   ------------------------ --------------- 8.7/14.2 MB 11.8 MB/s eta 0:00:01
   ------------------------- -------------- 9.1/14.2 MB 11.7 MB/s eta 0:00:01
   --------------------------- ------------ 9.8/14.2 MB 11.8 MB/s eta 0:00:01
   ---------------------------- ----------- 10.2/14.2 MB 11.6 MB/s eta 0:00:01
   ------------------------------ --------- 11.0/14.2 MB 12.1 MB/s eta 0:00:01
   --------------------------------- ------ 11.8/14.2 MB 12.6 MB/s eta 0:00:01
   ---------------------------------- ----- 12.4/14.2 MB 12.6 MB/s eta 0:00:01
   ------------------------------------ --- 12.9/14.2 MB 12.6 MB/s eta 0:00:01
   -------------------------------------- - 13.6/14.2 MB 12.6 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.2 MB 12.6 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.2 MB 12.6 MB/s eta 0:00:01
   ---------------------------------------- 14.2/14.2 MB 11.7 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.2.0 protobuf-4.21.12

In [6]:
import mysql.connector
from mysql.connector import Error

def execute_sql_file(filename, host, database, user, password):
    # 데이터베이스 연결
    try:
        connection = mysql.connector.connect(host=host,
                                             database=database,
                                             user=user,
                                             password=password)
        if connection.is_connected():
            cursor = connection.cursor()

            # SQL 파일 읽기
            with open(filename, 'r') as file:
                sql_script = file.read()

            # SQL 명령문 실행
            for statement in sql_script.split(';'):
                if statement.strip():
                    cursor.execute(statement)

            connection.commit()
            print(f"SQL script '{filename}' executed successfully")

    except Error as e:
        print(f"Error while connecting to MySQL: {e}")

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

# 사용 예
execute_sql_file("../backup/db/study_20231228_172556.sql", "localhost", "study_test", "root", "0000")

SQL script '../backup/db/study_20231228_172556.sql' executed successfully
MySQL connection is closed

In [3]:
import pymysql
import os

def execute_sql_file(filepath, host, database, user, password):
    # MySQL 연결 설정
    connection = pymysql.connect(host=host,
                             user=user,
                             password=password,
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

    try:
        with connection.cursor() as cursor:
            # 'test' 데이터베이스 존재 여부 확인
            cursor.execute("SHOW DATABASES")
            databases = [db['Database'] for db in cursor.fetchall()]
            if database not in databases:
                # 'test' 데이터베이스가 없으면 생성
                cursor.execute(f"CREATE DATABASE {database} CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci")

        # 변경사항 커밋
        connection.commit()

    finally:
        connection.close()
        
    connection = pymysql.connect(host=host,
                                user=user,
                                password=password,
                                database=database,
                                charset='utf8mb4',
                                cursorclass=pymysql.cursors.DictCursor)
    try:
        with connection.cursor() as cursor:
            # 새 데이터베이스 스키마에서 추가된 컬럼 확인
            cursor.execute("DESCRIBE your_table_name")
            columns = [column['Field'] for column in cursor.fetchall()]

            # 백업된 SQL 파일 로드
            with open(filepath, 'r') as file:
                sql_file = file.read()
            
            # SQL 파일을 쿼리로 분리
            queries = sql_file.split(';')

            for query in queries:
                if 'INSERT INTO' in query:
                    # 삽입 쿼리 수정: 추가된 컬럼에 기본값 설정
                    query_parts = query.split('VALUES')
                    if len(query_parts) == 2:
                        insert_part, values_part = query_parts
                        new_values_part = []
                        for value in values_part.split('),'):
                            # 각 값 튜플에 대해 추가된 컬럼 수만큼 기본값 추가
                            new_values_part.append(value + ', DEFAULT' * (len(columns) - value.count(',')))
                        modified_query = insert_part + 'VALUES' + '),'.join(new_values_part)
                        cursor.execute(modified_query)

        # 변경사항 커밋
        connection.commit()

    finally:
        connection.close()

execute_sql_file("../backup/db/study_20231228_172556.sql", "localhost", "test_1", "root", "0000")

ProgrammingError: (1146, "Table 'test_1.your_table_name' doesn't exist")

In [8]:
import pymysql
import re

def get_db_columns(host, user, password, database, table):
    """ 데이터베이스에서 테이블의 컬럼 목록을 가져옵니다. """
    connection = pymysql.connect(host=host, user=user, password=password, database=database,
                                 cursorclass=pymysql.cursors.DictCursor)  # cursorclass 추가
    try:
        with connection.cursor() as cursor:
            cursor.execute(f"DESCRIBE {table}")
            return [row["Field"] for row in cursor.fetchall()]
    finally:
        connection.close()

def get_sql_file_columns(file_path):
    """ SQL 파일에서 모든 'CREATE TABLE' 문을 찾아 각 테이블의 컬럼 목록을 가져옵니다. """
    with open(file_path, 'r') as file:
        sql_file = file.read()

    # 모든 'CREATE TABLE' 문을 찾습니다.
    create_table_matches = re.findall(r'CREATE TABLE [^\(]+\(([^\)]+)', sql_file, re.IGNORECASE)

    columns = set()
    for create_table_content in create_table_matches:
        # 각 'CREATE TABLE' 문에서 컬럼 이름만 추출
        table_columns = re.findall(r'`(\w+)`', create_table_content)
        columns.update(table_columns)

    return columns

# 데이터베이스 및 테이블 정보
host = "localhost"
user = "root"
password = "0000"
database = "test_1"
table = "user"  # 데이터베이스의 테이블 이름

# SQL 파일 경로
sql_file_path = "../backup/db/study_20231228_172556.sql"

# 컬럼 목록 가져오기
db_columns = set(get_db_columns(host, user, password, database, table))
sql_file_columns = set(get_sql_file_columns(sql_file_path))

print(db_columns)
print(sql_file_columns)

# 차이점 출력
print("컬럼 (DB에만 존재):", db_columns - sql_file_columns)
print("컬럼 (SQL 파일에만 존재):", sql_file_columns - db_columns)

{'phone_number', 'state', 'profile_image', 'employment', 'user_name', 'email', 'password', 'user_id', 'profile_color', 'admin', 'use', 'attendance_type'}
{'post_id', 'schedule_id', 'comment_id', 'id', 'user_id'}
컬럼 (DB에만 존재): {'phone_number', 'state', 'profile_image', 'employment', 'user_name', 'email', 'password', 'profile_color', 'admin', 'use', 'attendance_type'}
컬럼 (SQL 파일에만 존재): {'id', 'post_id', 'schedule_id', 'comment_id'}

In [13]:
def get_sql_file_columns(file_path):
    with open(file_path, 'r') as file:
        sql_file = file.read()
    print(sql_file)
    create_table_matches = re.findall(r'CREATE TABLE [^\(]+\(([^\)]+)', sql_file, re.IGNORECASE)
    # print(create_table_matches)

sql_file_path = "../backup/db/study_20231228_172556.sql"
get_sql_file_columns(sql_file_path)

-- MySQL dump 10.13  Distrib 8.0.35, for Win64 (x86_64)
--
-- Host: 221.163.19.218    Database: study
-- ------------------------------------------------------
-- Server version	8.0.35-0ubuntu0.20.04.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `attendance`
--

DROP TABLE IF EXISTS `attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` varchar(255) COLLATE utf8mb3_bin NOT NULL,
  `time` datetime DEFAULT NULL,
  `date` date NOT NULL,
  `state` varchar(255) COLLATE utf8mb3_bin NOT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `attendance_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance`
--

LOCK TABLES `attendance` WRITE;
/*!40000 ALTER TABLE `attendance` DISABLE KEYS */;
INSERT INTO `attendance` VALUES (1,'blessian',NULL,'2023-12-27','absent'),(2,'heany0618',NULL,'2023-12-27','absent'),(3,'isakin',NULL,'2023-12-27','absent'),(4,'joowop',NULL,'2023-12-27','absent'),(5,'min731',NULL,'2023-12-27','absent'),(6,'narae3759',NULL,'2023-12-27','absent'),(7,'sukkeumi',NULL,'2023-12-27','absent'),(8,'zzan',NULL,'2023-12-27','absent'),(9,'min731','2023-12-28 09:09:16','2023-12-28','present'),(10,'ottravel001','2023-12-28 09:13:40','2023-12-28','present'),(11,'sukkeumi','2023-12-28 09:37:58','2023-12-28','present'),(12,'isakin','2023-12-28 09:48:30','2023-12-28','present'),(13,'narae3759','2023-12-28 09:49:34','2023-12-28','present'),(14,'joowop','2023-12-28 09:51:57','2023-12-28','present'),(15,'1234','2023-12-28 11:38:36','2023-12-28','late'),(16,'zzan','2023-12-28 11:55:33','2023-12-28','late');
/*!40000 ALTER TABLE `attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fb_comment`
--

DROP TABLE IF EXISTS `fb_comment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fb_comment` (
  `comment_id` int NOT NULL AUTO_INCREMENT,
  `post_id` int NOT NULL,
  `user_id` varchar(255) COLLATE utf8mb3_bin NOT NULL,
  `content` text COLLATE utf8mb3_bin NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`comment_id`),
  KEY `post_id` (`post_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `fb_comment_ibfk_1` FOREIGN KEY (`post_id`) REFERENCES `free_board` (`post_id`),
  CONSTRAINT `fb_comment_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fb_comment`
--

LOCK TABLES `fb_comment` WRITE;
/*!40000 ALTER TABLE `fb_comment` DISABLE KEYS */;
INSERT INTO `fb_comment` VALUES (1,1,'zzan','댓글 1등','2023-12-27 17:14:47','2023-12-27 17:14:47'),(2,11,'isakin','수정 예정입니다....','2023-12-28 12:13:34','2023-12-28 12:13:34');
/*!40000 ALTER TABLE `fb_comment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `free_board`
--

DROP TABLE IF EXISTS `free_board`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `free_board` (
  `post_id` int NOT NULL AUTO_INCREMENT,
  `user_id` varchar(255) COLLATE utf8mb3_bin NOT NULL,
  `title` varchar(255) COLLATE utf8mb3_bin NOT NULL,
  `content` text COLLATE utf8mb3_bin NOT NULL,
  `image_url` varchar(255) COLLATE utf8mb3_bin DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`post_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `free_board_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `free_board`
--

LOCK TABLES `free_board` WRITE;
/*!40000 ALTER TABLE `free_board` DISABLE KEYS */;
INSERT INTO `free_board` VALUES (1,'blessian','1등','1등',NULL,'2023-12-27 17:13:41','2023-12-27 17:13:41'),(2,'min731','오앙 신기해','모두 취뽀 기원',NULL,'2023-12-27 17:15:15','2023-12-27 17:15:15'),(3,'heany0618','므찌다','> 역시 우리반 못하는게 없어..\n\nAI 반 최고',NULL,'2023-12-27 17:18:27','2023-12-27 17:18:27'),(4,'isakin','Class Up 홈페이지 이용 방법','여러분 안녕하세요.\n\n드디어 Class Up 홈페이지가 만들어 졌습니다!\n\n특별한 이용 방법은 없지만 몇 가지 알려드릴 내용이 있으니 한 번씩 읽어 주세요\n\n1\\. 출석은 \'홈\'에 있는 출석 체크 버튼을 이용해 주세요\\. 출석 체크는 9:00\\~10:00 까지는 출석\\, 10:00\\~12:00 까지는 지각입니다\\. 나머지 시간에는 열심히 누르셔도 출석이 되지 않아요\\.\n\n2\\. 일정이 있어서 참여가 어려우시다면 캘린더를 이용해 주세요\\. 오늘 날짜 이전 날들에는 일정 등록이 안된답니다\\. 또한 일정은 오전 9시부터 오후 6시 사이에만 등록이 가능해요\\.\n\n3\\. 다른 부분은 자유롭게 이용하시되 디도스 공격\\, 해킹 시도 등은 참아주시면 감사할 것 같네요\\.\n\n부족한 부분이 있다면 말씀해 주세요. 바로 수정하겠습니다\\~',NULL,'2023-12-27 17:18:50','2023-12-27 17:18:50'),(5,'isakin','승현님 왜 실명에 Blessian이라고 넣으신거죠','name 칸에 한글만 받아야겠다',NULL,'2023-12-27 17:20:58','2023-12-27 17:20:58'),(6,'sukkeumi','케케케케','### ~~신기하당 ㅋㅋㅋ~~',NULL,'2023-12-27 18:17:18','2023-12-27 18:21:04'),(7,'ottravel001','멋지다','와우',NULL,'2023-12-27 20:13:06','2023-12-27 20:13:06'),(8,'zzan','마크 스킨','마크 스킨\n![이미지 설명](http://221.163.19.218:7783/static/freeboard/8445f3f5-d53e-466a-a058-8bb1e6213a2d.png)',NULL,'2023-12-27 20:45:48','2023-12-27 20:45:48'),(9,'zzan','skun','![이미지 설명](http://221.163.19.218:7783/static/freeboard/9e58e7d3-2fd9-4847-a6af-1e816c2efcb1.png)',NULL,'2023-12-27 20:47:46','2023-12-27 20:47:46'),(10,'min731','와 게시판 기능 미쳤네','```python\ndef fun():\n    print(\"와 코드 블럭이 되네\")\nfun()\n```',NULL,'2023-12-28 08:31:42','2023-12-28 08:31:42'),(11,'narae3759','1970-01-01 저는 이날 결석하지 않았어요!','벌금 고쳐주세요 \n저는 결석하지 않았어요 ㅋㅋㅋㅋㅋ\n\n',NULL,'2023-12-28 09:56:02','2023-12-28 09:56:02'),(12,'dlsco123','오 이거','**이렇게 막써도 되는건가** \n\n*아닌가?*\n\n뿌에에엥',NULL,'2023-12-28 12:12:20','2023-12-28 12:12:20');
/*!40000 ALTER TABLE `free_board` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedules`
--

DROP TABLE IF EXISTS `schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedules` (
  `schedule_id` int NOT NULL AUTO_INCREMENT,
  `user_id` varchar(255) COLLATE utf8mb3_bin NOT NULL,
  `title` varchar(255) COLLATE utf8mb3_bin NOT NULL,
  `content` text COLLATE utf8mb3_bin NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`schedule_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `schedules_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedules`
--

LOCK TABLES `schedules` WRITE;
/*!40000 ALTER TABLE `schedules` DISABLE KEYS */;
INSERT INTO `schedules` VALUES (1,'isakin','개인 일정','일정 있어서 금요일은 쉽니다','2023-12-29','2023-12-29','2023-12-27 17:27:11','2023-12-27 17:27:11'),(2,'min731','짠짠 생일','제곧내','2023-12-28','2023-12-28','2023-12-28 08:28:25','2023-12-28 08:28:25'),(3,'min731','제주도 여행 얏호','야시장, 연돈, 온천','2024-01-06','2024-01-08','2023-12-28 08:29:28','2023-12-28 08:29:28');
/*!40000 ALTER TABLE `schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `user_id` varchar(255) COLLATE utf8mb3_bin NOT NULL,
  `user_name` varchar(255) COLLATE utf8mb3_bin NOT NULL,
  `password` varchar(255) COLLATE utf8mb3_bin NOT NULL,
  `email` varchar(255) COLLATE utf8mb3_bin NOT NULL,
  `phone_number` varchar(255) COLLATE utf8mb3_bin NOT NULL,
  `profile_image` varchar(255) COLLATE utf8mb3_bin NOT NULL,
  `profile_color` varchar(255) COLLATE utf8mb3_bin DEFAULT NULL,
  `employment` tinyint(1) NOT NULL,
  `state` tinyint(1) NOT NULL,
  `attendance_type` tinyint(1) NOT NULL,
  `admin` tinyint(1) NOT NULL,
  `use` tinyint(1) NOT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `user_name` (`user_name`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `phone_number` (`phone_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES ('1234','1234','$2b$12$SRqvC/V48OtUUZTmcb4gR.JirfUt1OlQVWY.vJyJjoklv8val4vMO','1@gmail.com','01011111111','static/profile_image/user_image/5dbe3065-53f3-4e41-85f0-9eeeab0e843b.jpg',NULL,0,1,1,0,1),('blessian','Blessian','$2b$12$swvh15kmRUP3thqopdJJpexI04j3/BViZqfIt/5vckaldjS6osQzy','blessian.dev@gmail.com','01012345678','static/profile_image/default.png',NULL,0,1,1,0,1),('dlsco123','인채','$2b$12$474VELxXwfcR47HoW7Us/.WNiThLxZWOgJmH95A6/SVkxS4b8yuTm','dlsco1230@gmail.com','01084606460','static/profile_image/user_image/98a3ca66-ab1a-47c1-9ae9-c4bcbb9b0510.jpg',NULL,0,1,1,0,1),('heany0618','해니','$2b$12$BschElIHn6JOzwbolZW1HuzNXD3i/hdqG9ksaK6F1XeoDW29X5O/S','heany0618@naver.com','01086498026','static/profile_image/user_image/08c61823-e5e5-4c98-8a1f-032918bc4dd9.jpeg',NULL,0,1,1,0,1),('isakin','정민교','$2b$12$woqYllcq/gL.OViEcxMkg.t02h6RDZGeFFGQfywRgtZmjLZYPwKxe','isakin.tyrfing@gmail.com','01073044593','static/profile_image/default.png',NULL,0,1,1,0,1),('joowop','서주완','$2b$12$JsfA1Cxtkzu.nhOjPOCn2ukXkEWSjjcoOnUHJ/btEcjRzrpWaY.xK','joowop@naver.com','01059547106','static/profile_image/default.png',NULL,0,1,1,0,1),('min731','임정민','$2b$12$AxcFGNPfOBgh09SlxQvxRugDl4Fs/UjLgP5et5c4FlijumwowfYum','ypd04208@gmail.com','01034393762','static/profile_image/user_image/9adfc7e8-5cd2-4902-b0b4-4df0d18d93e0.jpg',NULL,0,1,1,0,1),('narae3759','김나래','$2b$12$xlcPwq9ouWjqpe1a/ROg0uNCGQKJ8tny0hdItUsL9uSSvbGIlLyOy','narae3759@gmail.com','01075223759','static/profile_image/default.png',NULL,0,1,1,0,1),('ottravel001','오태훈','$2b$12$PZgVO6MoPZxRZuZrjBb4K.mTWs4wbpcrFzX8JGPv0y0j1ePRRLt0W','travelcheck2019@gmail.com','01040449046','static/profile_image/default.png',NULL,0,1,1,0,1),('sukkeumi','금민수','$2b$12$Tz8PZqKMmGkHXm0rBomSjeyiVGy20qWXkNVARlGppgbf8xzxHPgR.','minsukeum@gmail.com','01072741551','static/profile_image/default.png',NULL,0,1,1,0,1),('zzan','김찬영','$2b$12$T9hgwkdc2jcZn3X8AXIlpeOrsxVtaBOJrJEd9yPDw23SPdy4kCZMy','cykim1228@gmail.com','01099222292','static/profile_image/user_image/3cc6ab60-4bee-44a8-b84f-5a08111c0670.jpg',NULL,0,1,1,0,1);
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-12-28 17:25:56

In [1]:
import pymysql

def create_database(connection, database_name):
    """ 새 데이터베이스 생성 """
    with connection.cursor() as cursor:
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
    connection.commit()

def get_tables_and_columns(connection, database_name):
    """ 데이터베이스의 테이블과 컬럼 구조 가져오기 """
    tables_and_columns = {}
    with connection.cursor() as cursor:
        cursor.execute(f"USE {database_name}")
        cursor.execute("SHOW TABLES")
        tables = [table[0] for table in cursor.fetchall()]
        for table in tables:
            cursor.execute(f"DESCRIBE {table}")
            columns = [column[0] for column in cursor.fetchall()]
            tables_and_columns[table] = columns
    return tables_and_columns

def create_tables_in_new_db(target_connection, database_name, tables_and_columns):
    """ 새 데이터베이스에 테이블과 컬럼 구조 생성 """
    with target_connection.cursor() as cursor:
        cursor.execute(f"USE {database_name}")
        for table, columns in tables_and_columns.items():
            # 테이블이 이미 존재하는지 확인
            cursor.execute(f"SHOW TABLES LIKE '{table}'")
            if cursor.fetchone() is None:
                # 테이블이 존재하지 않으면 생성
                column_definitions = ', '.join([f"`{column}` TEXT" for column in columns])
                cursor.execute(f"CREATE TABLE {table} ({column_definitions})")
    target_connection.commit()


def copy_data_to_new_db(source_connection, target_connection, tables_and_columns):
    """ 기존 데이터베이스에서 데이터를 새 데이터베이스로 복사 """
    for table, source_columns in tables_and_columns.items():
        with source_connection.cursor() as source_cursor, target_connection.cursor() as target_cursor:
            # 타겟 데이터베이스에서 해당 테이블의 컬럼 목록을 가져옵니다.
            target_cursor.execute(f"DESCRIBE `{table}`")
            target_columns = [column[0] for column in target_cursor.fetchall()]
            
            # 소스와 타겟의 공통 컬럼만 선택합니다.
            common_columns = [col for col in source_columns if col in target_columns]

            column_names = ', '.join([f"`{column}`" for column in common_columns])
            source_cursor.execute(f"SELECT {column_names} FROM `{table}`")
            
            for row in source_cursor.fetchall():
                try:
                    target_cursor.execute(
                        f"INSERT INTO `{table}` ({column_names}) VALUES ({', '.join(['%s'] * len(common_columns))})",
                        row)
                except pymysql.err.IntegrityError as e:
                    if e.args[0] == 1062:  # 중복 기본 키 오류
                        continue  # 중복된 레코드는 무시
                    else:
                        raise  # 다른 종류의 IntegrityError는 다시 발생시킴
            target_connection.commit()


def reorder_tables(tables_and_columns, first_table):
    """ 'first_table'을 가장 먼저 배치하고 나머지 테이블을 그 뒤에 배치합니다. """
    ordered_tables = list(tables_and_columns.keys())
    if first_table in ordered_tables:
        ordered_tables.remove(first_table)
        ordered_tables = [first_table] + ordered_tables
    return {table: tables_and_columns[table] for table in ordered_tables}

host = "localhost"
user = "root"
password = "0000"
database_source = "study_test"
database_target = "test_1"

# MySQL 연결 설정
source_connection = pymysql.connect(host=host, user=user, password=password, db=database_source)
target_connection = pymysql.connect(host=host, user=user, password=password)

# 새 데이터베이스 생성
create_database(target_connection, database_target)

# 기존 데이터베이스의 테이블과 컬럼 구조 가져오기
tables_and_columns = get_tables_and_columns(source_connection, database_source)

# 새 데이터베이스에 테이블 생성
create_tables_in_new_db(target_connection, database_target, tables_and_columns)

# 데이터 복사 순서를 조정
# 예: 먼저 'user' 테이블의 데이터를 복사한 후 'attendance' 테이블의 데이터를 복사
ordered_tables = ['user', 'attendance', 'schedules', 'free_board', 'fb_comment']  # 참조 순서에 따라 테이블 명을 조정하세요.
ordered_tables_and_columns = {table: tables_and_columns[table] for table in ordered_tables if table in tables_and_columns}

# 데이터 복사
copy_data_to_new_db(source_connection, target_connection, ordered_tables_and_columns)

# 연결 종료
source_connection.close()
target_connection.close()

# 데이터 베이스 백업 and 로드

In [4]:
import pymysql
from dotenv import load_dotenv
import os

load_dotenv()
DB_USER = os.getenv('MYSQL_USER')
DB_PASSWORD = os.getenv('MYSQL_PASSWORD')
DB_HOST = os.getenv('MYSQL_HOST')
DB_PORT = os.getenv('MYSQL_PORT')
DATABASE = os.getenv('MYSQL_DATABASE')
print(DB_HOST)
print(DATABASE)

backup_database = 'study_backup'
sql_file_path = "../backup/db/study_20240105_132100.sql"

localhost
study2

In [5]:
import mysql.connector
from mysql.connector import Error

def execute_sql_file(filename, database, host, user, password, port):
    # 데이터베이스 연결 (데이터베이스를 지정하지 않고 연결)
    try:
        connection = mysql.connector.connect(host=host,
                                             user=user,
                                             password=password,
                                             port=port)
        if connection.is_connected():
            cursor = connection.cursor()

            # 데이터베이스가 존재하는지 확인하고, 있으면 삭제
            cursor.execute(f"DROP DATABASE IF EXISTS {database}")

            # 새 데이터베이스 생성
            cursor.execute(f"CREATE DATABASE {database}")

            # 새 데이터베이스 사용
            cursor.execute(f"USE {database}")

            # SQL 파일 읽기
            with open(filename, 'r') as file:
                sql_script = file.read()

            # SQL 명령문 실행
            for statement in sql_script.split(';'):
                if statement.strip():
                    cursor.execute(statement)

            connection.commit()
            print(f"SQL script '{filename}' executed successfully")

    except Error as e:
        print(f"Error while connecting to MySQL: {e}")

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

# 사용 예
execute_sql_file(sql_file_path, backup_database, DB_HOST, DB_USER, DB_PASSWORD, DB_PORT)

SQL script '../backup/db/study_20240105_132100.sql' executed successfully
MySQL connection is closed

In [6]:

def create_database(connection, database_name):
    """ 새 데이터베이스 생성 """
    with connection.cursor() as cursor:
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
    connection.commit()

def get_tables_and_columns(connection, database_name):
    """ 데이터베이스의 테이블과 컬럼 구조 가져오기 """
    tables_and_columns = {}
    with connection.cursor() as cursor:
        cursor.execute(f"USE {database_name}")
        cursor.execute("SHOW TABLES")
        tables = [table[0] for table in cursor.fetchall()]
        for table in tables:
            cursor.execute(f"DESCRIBE {table}")
            columns = [column[0] for column in cursor.fetchall()]
            tables_and_columns[table] = columns
    return tables_and_columns

def create_tables_in_new_db(target_connection, database_name, tables_and_columns):
    """ 새 데이터베이스에 테이블과 컬럼 구조 생성 """
    with target_connection.cursor() as cursor:
        cursor.execute(f"USE {database_name}")
        for table, columns in tables_and_columns.items():
            # 테이블이 이미 존재하는지 확인
            cursor.execute(f"SHOW TABLES LIKE '{table}'")
            if cursor.fetchone() is None:
                # 테이블이 존재하지 않으면 생성
                column_definitions = ', '.join([f"`{column}` TEXT" for column in columns])
                cursor.execute(f"CREATE TABLE {table} ({column_definitions})")
    target_connection.commit()


def copy_data_to_new_db(source_connection, target_connection, tables_and_columns):
    for table, source_columns in tables_and_columns.items():
        with source_connection.cursor() as source_cursor, target_connection.cursor() as target_cursor:
            target_cursor.execute(f"DESCRIBE `{table}`")
            target_column_details = target_cursor.fetchall()

            # 소스와 타겟의 공통 컬럼만 선택합니다.
            common_columns = [col for col in source_columns if col in [col_detail[0] for col_detail in target_column_details]]

            # 새로운 컬럼에 대한 기본값 설정
            default_values = {}
            for column_detail in target_column_details:
                column_name = column_detail[0]
                if column_name not in common_columns:
                    # 컬럼 타입에 따라 기본값 설정 (정수형의 경우 0, 그 외의 경우 빈 문자열)
                    if 'int' in column_detail[1]:
                        default_values[column_name] = 0
                    else:
                        default_values[column_name] = ''

            column_names = ', '.join([f"`{column}`" for column in common_columns + list(default_values.keys())])
            source_cursor.execute(f"SELECT {', '.join([f'`{column}`' for column in common_columns])} FROM `{table}`")
            
            for row in source_cursor.fetchall():
                row_data = list(row) + list(default_values.values())  # 기존 데이터에 새 컬럼의 기본값 추가
                try:
                    target_cursor.execute(
                        f"INSERT INTO `{table}` ({column_names}) VALUES ({', '.join(['%s'] * len(row_data))})",
                        row_data)
                except pymysql.err.IntegrityError as e:
                    if e.args[0] == 1062:  # 중복 기본 키 오류
                        continue  # 중복된 레코드는 무시
                    else:
                        raise  # 다른 종류의 IntegrityError는 다시 발생시킴
            target_connection.commit()

print(DATABASE)
# MySQL 연결 설정
source_connection = pymysql.connect(host=DB_HOST, user=DB_USER, password=DB_PASSWORD, db=backup_database)
target_connection = pymysql.connect(host=DB_HOST, user=DB_USER, password=DB_PASSWORD)

# 새 데이터베이스 생성
create_database(target_connection, DATABASE)

# 기존 데이터베이스의 테이블과 컬럼 구조 가져오기
tables_and_columns = get_tables_and_columns(source_connection, backup_database)

# 새 데이터베이스에 테이블 생성
create_tables_in_new_db(target_connection, DATABASE, tables_and_columns)

# 데이터 복사 순서를 조정
# 예: 먼저 'user' 테이블의 데이터를 복사한 후 'attendance' 테이블의 데이터를 복사
ordered_tables = ['user', 'attendance', 'schedules', 'free_board', 'fb_comment']  # 참조 순서에 따라 테이블 명을 조정하세요.
ordered_tables_and_columns = {table: tables_and_columns[table] for table in ordered_tables if table in tables_and_columns}

# 데이터 복사
copy_data_to_new_db(source_connection, target_connection, ordered_tables_and_columns)

# 연결 종료
source_connection.close()
target_connection.close()

study2