In [ ]:
from dotenv import load_dotenv
import os

load_dotenv()

DB_USER = os.getenv('MYSQL_USER')
DB_PASSWORD = os.getenv('MYSQL_PASSWORD')
DB_HOST = os.getenv('MYSQL_HOST')
DB_PORT = os.getenv('MYSQL_PORT')
DATABASE = os.getenv('MYSQL_DATABASE')

import pymysql 

conn = pymysql.connect(host=DB_HOST, user=DB_USER, password=DB_PASSWORD, charset='utf8') 
cursor = conn.cursor()

## 데이터베이스 생성

In [4]:
sql = "CREATE DATABASE study" 

cursor.execute(sql) 

conn.commit() 
conn.close()

## 테이블 생성

In [3]:
sql = '''
CREATE TABLE user (
    id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(255) UNIQUE,
    password VARCHAR(255),
    email VARCHAR(255) UNIQUE,
    phone_number VARCHAR(255) UNIQUE,
    state BOOLEAN
)
'''

cursor.execute(sql)

conn.commit()
conn.close()

In [9]:
sql = '''
CREATE TABLE attendance (
    id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(255),
    time DATETIME
)
'''

cursor.execute(sql)

conn.commit()
conn.close()

## 테이터 삽입 (insert)

In [4]:
sql = "INSERT INTO user (username, password, email, phone_number, state) VALUES (%s, %s, %s, %s, %s)"

# 샘플 데이터
sample_data = [
    ("developer_lim", "password123", "developer_lim@limcoding.com", "010-1234-5678", True),
    ("developer_kim", "password123", "developer_kim@limcoding.com", "010-2345-6789", True),
    ("developer_song", "password123", "developer_song@limcoding.com", "010-3456-7890", True)
]

# 데이터 삽입
for data in sample_data:
    cursor.execute(sql, data)

conn.commit()
conn.close()

In [ ]:

sql = "INSERT INTO user (username, password, email, phone_number, state) VALUES (%s, %s)" 

cursor.execute(sql,("developer_lim@limcoding.com", "AI")) 
cursor.execute(sql,("developer_kim@limcoding.com", "AI")) 
cursor.execute(sql,("developer_song@limcoding.com", "AI")) 

conn.commit() 

conn.close()

In [7]:
# SQL 쿼리
sql = '''
INSERT INTO attendance (username, time) 
VALUES (%s, %s)
'''

# 현재 시간
now = datetime.now()

# 샘플 데이터
sample_data = [
    ("user1", now),
    ("user2", now),
    ("user3", now)
]

# 데이터 삽입
for data in sample_data:
    cursor.execute(sql, data)

conn.commit()
conn.close()

## 데이터 검색

In [10]:
sql = "SELECT * FROM user where department = %s" 

cursor.execute(sql, ("AI")) 
res = cursor.fetchall() 

for data in res: 
        print(data) 

conn.commit() 
conn.close()

(1, 'developer_lim@limcoding.com', 'AI')
(2, 'developer_kim@limcoding.com', 'AI')
(3, 'developer_song@limcoding.com', 'AI')

## 데이터 수정 (update)

In [12]:
sql = "UPDATE user SET department = %s WHERE email = %s" 
cursor.execute(sql, ("Testing", "developer_song@limcoding.com")) 

conn.commit() 
conn.close()

## 데이터 삭제

In [14]:
sql = "DELETE FROM user WHERE email = %s" 
cursor.execute(sql, ("developer_song@limcoding.com")) 
conn.commit() 

conn.close()

In [14]:
sql = "DELETE FROM user WHERE username = %s"
cursor.execute(sql, ("aaaa"))  # id 4번 데이터 삭제
conn.commit()

conn.close()

## DB 삭제

In [3]:
sql = "DROP DATABASE study"


cursor.execute(sql)

conn.commit()
conn.close()

## 테이블 삭제

In [8]:
sql = 'DROP TABLE IF EXISTS attendance'

cursor.execute(sql)

conn.commit()
conn.close()

In [2]:
from dotenv import load_dotenv
import os

load_dotenv()

DB_USER = os.getenv('MYSQL_USER')
DB_PASSWORD = os.getenv('MYSQL_PASSWORD')
DB_HOST = os.getenv('MYSQL_HOST')
DB_PORT = os.getenv('MYSQL_PORT')
DATABASE = os.getenv('MYSQL_DATABASE')

import pymysql 

conn = pymysql.connect(host=DB_HOST, user=DB_USER, password=DB_PASSWORD, charset='utf8') 
cursor = conn.cursor()

1q2w3e4r5t

OperationalError: (1045, "Access denied for user 'metajob'@'_gateway' (using password: YES)")

In [ ]:
conn = pymysql.connect(host=DB_HOST, user=DB_USER, password=DB_PASSWORD, charset='utf8') 
cursor = conn.cursor() 

sql = "DROP DATABASE study"

cursor.execute(sql)

conn.commit()
conn.close()

In [2]:
conn = pymysql.connect(host=DB_HOST, user=DB_USER, password=DB_PASSWORD, charset='utf8') 
cursor = conn.cursor() 

sql = "CREATE DATABASE study" 

cursor.execute(sql) 

conn.commit() 
conn.close()

In [3]:
import requests
import json

# 요청할 URL
url = "http://127.0.0.1:8000/api/user/create"

# 전송할 데이터
data = {
    "user_id": "ss",
    "user_name": "string",
    "password1": "s",
    "password2": "s",
    "email": "user@example.com",
    "phone_number": "01022221111"
}

# JSON 형식으로 데이터를 POST 요청
response = requests.post(url, json=data)

# 응답 출력
print("Status Code:", response.status_code)
print("Response Body:", response.text)

# 요청할 URL
url = "http://127.0.0.1:8000/api/user/create"

# 전송할 데이터
data = {
    "user_id": "aa",
    "user_name": "asasas",
    "password1": "a",
    "password2": "a",
    "email": "user@exaaample.com",
    "phone_number": "01023221111"
}

# JSON 형식으로 데이터를 POST 요청
response = requests.post(url, json=data)

# 응답 출력
print("Status Code:", response.status_code)
print("Response Body:", response.text)

# 요청할 URL
url = "http://127.0.0.1:8000/api/user/create"

# 전송할 데이터
data = {
    "user_id": "cccc",
    "user_name": "cccccccc",
    "password1": "a",
    "password2": "a",
    "email": "user@excaaample.com",
    "phone_number": "01025221111"
}

# JSON 형식으로 데이터를 POST 요청
response = requests.post(url, json=data)

# 응답 출력
print("Status Code:", response.status_code)
print("Response Body:", response.text)

Status Code: 204
Response Body:
Status Code: 204
Response Body:
Status Code: 204
Response Body: